<!--
  Generated template for the LandscapePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Landscape</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Soy una página HORIZONTAL!
</ion-content>
